@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}

.main {
  position: relative;
  background-color: #222831;
  height: auto;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.modal-span {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e9e6e6;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.modal-span:hover {
  color: #00fff5;
}

.modal-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393e46;
  border-radius: 20px;
}

.modal-p {
  font-size: 64px;
  font-weight: 500;
  color: #7fa9da;
  padding: 200px;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

svg {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.dots-conteiner {
  margin-bottom: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 40px;
  border: solid 2px #e7e7e7;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
}

.label:hover {
  background-color: #7fa9da;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.trello-img:nth-child(n) {
  background: -webkit-gradient(linear, left top, right top, from(#6b3779), to(#2589b1));
  background: linear-gradient(90deg, #6b3779 0%, #2589b1 100%);
}

.trello-desc li.hidden {
  display: none;
}

.hide {
  display: none;
}

.hide.active {
  display: inline;
}

.trello {
  padding-top: 40px;
  overflow: hidden;
}

.trello-delete {
  position: absolute;
  left: 10px;
  color: #793232;
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trello-delete:hover {
  color: red;
}

.trello-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 606px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 60px;
}

.trello-item {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  position: absolute;
  background-color: #393e46;
  width: 100%;
  top: 0;
  height: auto;
  border-radius: 15px;
}

.trello-item:hover {
  -webkit-box-shadow: 0 0 12px #393e46;
          box-shadow: 0 0 12px #393e46;
}

.trello-item-add {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trello-item-add::before {
  content: '+';
  font-size: 50px;
  color: #00fff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px #00fff5;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.trello-input {
  display: none;
}

.trello-input:checked + .trello-span::after {
  opacity: 1;
}

.trello-add {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 40px;
  border: dashed 2px #00fff5;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #00fff5;
  margin-bottom: 20px;
  font-size: 14px;
}

.trello-plus {
  position: absolute;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #00fff5;
  margin-right: 20px;
}

.trello-plus::before {
  content: '+';
  position: absolute;
  font-weight: 500;
  color: #00fff5;
  font-size: 20px;
}

.trello-span {
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #e9e6e6;
}

.trello-span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00fff5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.trello-img {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.trello-wrapper {
  max-width: 87%;
  margin: 0 auto;
}

.trello-label {
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #e9e6e6;
}

.trello-text {
  border: solid 2px #e9e6e6;
  border-radius: 6px;
  margin-top: 20px;
}

.trello-text-p {
  color: #e9e6e6;
  padding: 5px;
}

.trello-desc {
  list-style-type: none;
  padding: 0;
}

.trello-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  color: rgba(255, 0, 0, 0.493);
  font-size: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.trello-cross:hover {
  color: red;
}

.trello-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.trello-menu:hover .trello-menu-dot {
  background-color: #00fff5;
}

.trello-menu-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00fff5a6;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.trello-menu-dot + .trello-menu-dot {
  margin-left: 3px;
}

.open.active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
  z-index: 300;
}

.open {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #393e46;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #e9e6e6;
          box-shadow: 0 0 5px #e9e6e6;
  z-index: -1;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  opacity: 0;
  visibility: hidden;
}

.open-wrapper {
  max-width: 87%;
  margin: 0 auto;
}

.open-span {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  color: rgba(255, 0, 0, 0.493);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-span:hover {
  color: red;
}

.open-ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

.open-ul-input {
  display: none;
}

.open-ul-input:checked + .open-ul-span::after {
  opacity: 1;
}

.open-ul-span {
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #e9e6e6;
}

.open-ul-span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00fff5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.open-ul-li {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  margin: 10px 25px 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: solid 2px #e9e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #e9e6e6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-ul-li:hover {
  background-color: #00adb5;
}

.open-selectBtn {
  cursor: pointer;
  font-weight: 500;
  margin: 10px 25px 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: solid 2px #00adb5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #00adb5;
}

.open-selectBtn:hover {
  color: #e9e6e6;
  background-color: #00adb5;
  border-color: #00adb5;
}

.open-ul li.hidden {
  display: none;
}

#addItem {
  min-width: 32%;
  position: relative;
  background-color: #393e46;
  border-radius: 10px;
  height: auto;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  cursor: pointer;
}

#addItem:hover {
  background-color: rgba(100, 99, 99, 0.5);
}

#addItem:hover .trello-item-add::before {
  color: #00fff5;
  border-color: #00fff5;
}

.dotsbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  z-index: 0;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #dfdfdf;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dot + .dot {
  margin-left: 20px;
}

.dot::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.dot.active::before {
  opacity: 1;
}

.checked {
  display: none;
}

.checked.active {
  display: inline;
}

.btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn-prev-before, .btn-next-before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  visibility: hidden;
}

.trello-inner.next {
  left: 100%;
}

.trello-inner.prev {
  left: -100%;
}

.btn-next.hidden, .btn-prev.hidden {
  visibility: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots > li {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #929292;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-dots > li > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
  cursor: pointer;
}

li.slick-active {
  background-color: #4d4d4d !important;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.prev1, .next1 {
  width: 40px;
  height: 40px;
  background-color: #393e46;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev1:hover, .next1:hover {
  background-color: #333333;
}

.prev1 {
  left: 38%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.next1 {
  left: 59%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  .modal-p {
    padding: 150px;
  }
}

@media (max-width: 800px) {
  .modal-p {
    padding: 100px;
  }
}

@media (max-width: 400px) {
  .modal-p {
    padding: 50px;
  }
  .trello-plus {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */