@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.topic-white {
  -webkit-filter: invert(100) hue-rotate(180deg);
          filter: invert(100) hue-rotate(180deg);
}

.main {
  position: relative;
  background-color: #363f4d;
  height: 1000px;
}

svg {
  width: 25px;
  margin: 5px;
  height: 25px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.modal-span {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b6b3b3;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .35s all;
  transition: .35s all;
}

.modal-span:hover {
  color: #00fff5;
}

.modal-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393e46;
  border-radius: 20px;
}

.modal-p {
  font-size: 64px;
  font-weight: 500;
  color: #7fa9da;
  padding: 200px;
}

.topic {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 40px;
  right: 40px;
  z-index: 20;
}

.topic-conteiner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.topic-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.topic-button.white {
  left: 30px;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.dots-conteiner {
  margin-bottom: 20px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 40px;
  border: solid 2px #bdbcbc;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
}

.label:hover {
  background-color: dimgray;
}

.trello-img:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#6b3779), to(#2589b1));
  background: linear-gradient(90deg, #6b3779 0%, #2589b1 100%);
}

.trello-desc li.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.hide {
  display: none;
  opacity: 0;
}

.hide.active {
  display: inline;
}

.item-add {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 45px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  border: dashed 2px #00fff5;
  color: #00fff5;
  cursor: pointer;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trello {
  position: relative;
  padding-top: 40px;
  overflow: hidden;
  height: 1000px;
}

.trello-delete {
  position: absolute;
  left: 10px;
  color: #793232;
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trello-delete:hover {
  color: red;
}

.trello-track {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 606px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 60px;
}

.trello-item {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  position: absolute;
  background-color: #4d5561;
  width: calc(100% / 3);
  top: 0;
  height: auto;
  border-radius: 15px;
}

.trello-item:hover {
  -webkit-box-shadow: 0 0 12px #393e46;
          box-shadow: 0 0 12px #393e46;
}

.trello-item-add {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trello-item-add::before {
  content: '+';
  font-size: 50px;
  color: #00fff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px #00fff5;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.trello-input {
  display: none;
}

.trello-input:checked + .trello-span::after {
  opacity: 1;
}

.trello-add {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 40px;
  border: dashed 2px #00fff5;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #00fff5;
  margin-bottom: 20px;
  font-size: 14px;
}

.trello-plus {
  position: absolute;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #00fff5;
  margin-right: 20px;
}

.trello-plus::before {
  content: '+';
  position: absolute;
  font-weight: 500;
  color: #00fff5;
  font-size: 20px;
}

.trello-span {
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #bbbaba;
}

.trello-span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00fff5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.trello-img {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.trello-wrapper {
  max-width: 87%;
  margin: 0 auto;
}

.trello-label {
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #b6b3b3;
}

.trello-text {
  border: solid 2px #bdbcbc;
  border-radius: 6px;
  margin-top: 20px;
}

.trello-text-p {
  color: #b6b3b3;
  padding: 5px;
}

.trello-desc {
  list-style-type: none;
  padding: 0;
  opacity: 1;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.trello-cross:first-child {
  visibility: hidden;
}

.trello-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  color: rgba(255, 0, 0, 0.493);
  font-size: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.trello-cross:hover {
  color: red;
}

.trello-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.trello-menu:hover .trello-menu-dot {
  background-color: #00fff5;
}

.trello-menu-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00fff5a6;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.trello-menu-dot + .trello-menu-dot {
  margin-left: 3px;
}

.open.active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
  z-index: 300;
}

.open {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #393e46;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #b6b3b3;
          box-shadow: 0 0 5px #b6b3b3;
  z-index: -1;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  opacity: 0;
  visibility: hidden;
}

.open-wrapper {
  max-width: 87%;
  margin: 0 auto;
}

.open-span {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  color: rgba(255, 0, 0, 0.493);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-span:hover {
  color: red;
}

.open-ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

.open-ul-input {
  display: none;
}

.open-ul-input:checked + .open-ul-span::after {
  opacity: 1;
}

.open-ul-span {
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #e9e6e6;
}

.open-ul-span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00fff5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.open-ul-li {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  margin: 10px 25px 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: solid 2px #b6b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #b6b3b3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-ul-li:hover {
  background-color: #00adb5;
}

.open-selectBtn {
  cursor: pointer;
  font-weight: 500;
  margin: 10px 25px 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: solid 2px #00adb5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #00adb5;
}

.open-selectBtn:hover {
  color: #b6b3b3;
  background-color: #00fff5;
  border-color: #00fff5;
}

.open-ul li.hidden {
  display: none;
}

#addItem {
  min-width: 32%;
  position: relative;
  background-color: #393e46;
  border-radius: 10px;
  height: auto;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  cursor: pointer;
}

#addItem:hover {
  background-color: rgba(100, 99, 99, 0.5);
}

#addItem:hover .trello-item-add::before {
  color: #00fff5;
  border-color: #00fff5;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #dfdfdf;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dot + .dot {
  margin-left: 20px;
}

.dot::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.dot.active::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checked {
  display: none;
}

.checked.active {
  display: inline;
}

.btn {
  position: absolute;
  top: 36%;
  -webkit-transform: translateY(-36%);
          transform: translateY(-36%);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.btn-prev, .btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 200px;
  cursor: pointer;
  z-index: 300;
}

.btn-prev:hover svg g, .btn-next:hover svg g {
  fill: #727272;
}

g {
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.btn-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-next {
  right: 0;
}

@media (max-width: 2000px) {
  .trello-item {
    width: calc(100%/3 - 14px);
  }
}

@media (max-width: 1200px) {
  .modal-p {
    padding: 150px;
  }
}

@media (max-width: 1000px) {
  .btn {
    display: none;
  }
  .modal-p {
    padding: 100px;
  }
  .trello-item {
    width: calc(100%/2 - 10px);
  }
}

@media (max-width: 650px) {
  .trello {
    padding-top: 150px;
  }
  .dots-conteiner {
    display: none;
  }
  .modal-p {
    padding: 50px;
  }
  .trello-plus {
    display: none;
  }
  .trello-item {
    width: calc(100%);
  }
}
/*# sourceMappingURL=style.css.map */