@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap');

$white:rgb(233, 230, 230);
$black:#222831;
$gray:#393e46;
$lightblue:#00adb5;
$blue:#00adb5;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    overflow-x: hidden;
}
.main{
    position: relative;
    background-color: #222831;
    height: 1000px;
}
svg{
    width: 25px;
    margin: 5px;
    height: 25px;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease opacity;
    &-span{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 30px;
        cursor: pointer;
        transition: .35s all;
        &:hover{
            color: #00fff5;
        }
    }
    &-menu{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #393e46;
        border-radius: 20px;
    }
    &-p{
        font-size: 64px;
        font-weight: 500;
        color: rgb(127, 169, 218);
        padding: 200px;
    }
}
.modal.active{
    opacity: 1;
    visibility: visible;
}
.wrapper{
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.dots-conteiner{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.label{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 40px;
    border: solid 2px rgb(231, 231, 231);
    margin-top: 10px;
    cursor: pointer;
    transition: .3s ease background-color;
    &:hover{
        background-color: rgb(127, 169, 218);
    }
}
.trello-img:nth-child(1){background: linear-gradient(90deg, rgb(107, 55, 121) 0%, hsla(197, 65%, 42%, 1) 100%);}
.trello-desc li.hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.hide{
    display: none;
    opacity: 0;
}
.hide.active{
    display: inline;
}
.trello{
    padding-top: 40px;
    overflow: hidden;
    height: 1000px;
    &-delete{
        position: absolute;
        left: 10px;
        color: rgb(121, 50, 50);
        width: 20px;
        height: 20px;
        user-select: none;
        transition: .3s ease all;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            color: red;
        }
    }
    &-track{
        display: flex;
        position: relative;
        height: 606px;
        column-gap: 20px;
        padding-bottom: 60px;
    }
    &-item{
        transition: .5s ease all;
        position: absolute;
        background-color: $gray;
        width: calc((100vw/3) - 127px );
        top: 0;
        height: auto;
        border-radius: 15px;
        &:hover{
            box-shadow: 0 0 12px #393e46;
        }
        &-add{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &::before{  
                content: '+';
                font-size: 50px;
                color: #00fff5;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: solid 5px #00fff5;
                transition: .3s ease;
            }
        }
    }
    &-input{
        display: none;
        &:checked + .trello-span::after{
            opacity: 1;
        }
    }
    &-add{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 40px;
        border: dashed 2px #00fff5;
        margin-top: 10px;
        cursor: pointer;
        text-transform: uppercase;
        color: #00fff5;
        margin-bottom: 20px;
        font-size: 14px;
    }
    &-plus{
        position: absolute;
        left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 2px #00fff5;
        margin-right: 20px;
        &::before{
            content: '+';
            position: absolute;
            font-weight: 500;
            color: #00fff5;
            font-size: 20px;
        }
    }
    &-span{
        display: inline-block;
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 2px rgb(233, 230, 230);
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color:#00fff5 ;
            transition: .3s ease-in-out;
            opacity: 0;
        }
    }
    &-img{
        margin-top: 40px;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    &-wrapper{
        max-width: 87%;
        margin: 0 auto;
    }
    &-label{
        font-family: 'Montserrat';
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: $white;
    }
    &-text{
        border: solid 2px $white;
        border-radius:6px;
        margin-top: 20px;
        &-p{
            color: $white;
            padding: 5px;
        }
    }
    &-desc{
        list-style-type: none;
        padding: 0;
        opacity: 1;
        transition: all .35s;
    }
    &-cross:first-child{
        display: none;
    }
    &-cross{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 30px;
        height: 30px;
        color: rgba(255, 0, 0, 0.493);
        font-size: 30px;
        right: 5px;
        top: 5px;
        cursor: pointer;
        user-select: none;
        transition: .2s ease;
        &:hover{
            color: rgb(255, 0, 0);
        }
    }
    &-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 5px;
        left: 10px;
        
        cursor: pointer;
        &:hover .trello-menu-dot{
            background-color: #00fff5;
        }
        &-dot{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #00fff5a6;
            transition: .2s ease;
            & + &{
                margin-left: 3px;
            }
        }
    }
}
.open.active{
    transform: translate(0%,0%);
    opacity: 1;
    visibility: visible;
    z-index: 300;
}
.open{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $gray;
    border-radius: 10px;
    box-shadow: 0 0 5px $white;
    z-index: -1;
    transform:  translate(-100%,100%);
    transition: .3s ease all;
    opacity: 0;
    visibility: hidden;
    &-wrapper{
        max-width: 87%;
        margin: 0 auto;
    }
    &-span{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        color: rgba(255, 0, 0, 0.493);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        transition: .3s ease;
        user-select: none;
        &:hover{
            color: red;
        }
    }
    &-ul{
        list-style-type: none;
        padding: 0;
        padding-top: 20px;
        &-input{
            display: none;
            &:checked + .open-ul-span::after{
                opacity: 1;
            }
        }
        &-span{
            display: inline-block;
            position: absolute;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: solid 2px rgb(233, 230, 230);
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color:#00fff5 ;
                transition: .3s ease-in-out;
                opacity: 0;
            }
        }    
    }
    &-ul-li {
        position: relative;
        cursor: pointer;
        font-weight: 500;
        margin: 10px 25px 10px;
        padding: 10px;
        font-size: 14px;
        border-radius: 20px;
        border: solid 2px $white;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        transition: .3s ease;
        color: $white;
        user-select: none;
        &:hover{
            background-color: $lightblue;
        }
    }
    &-selectBtn{
        cursor: pointer;
        font-weight: 500;
        margin: 10px 25px 10px;
        padding: 10px;
        font-size: 14px;
        border-radius: 20px;
        border: solid 2px $lightblue;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        transition: .3s ease;
        color: $lightblue;
        &:hover{
            color: $white;
            background-color: $blue;
            border-color: $blue;
        }
    }
}
.open-ul li.hidden{
    display: none;
}
#addItem{
    min-width: 32%;
    position: relative;
    background-color: #393e46;
    border-radius: 10px;
    height: auto;
    transition: .2s ease all;
    cursor: pointer;
    &:hover{
        background-color: rgba(100, 99, 99, 0.5);
    }
    
    &:hover .trello-item-add::before{
        color: #00fff5;
        border-color: #00fff5;
    }
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px rgb(223, 223, 223);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & + &{
        margin-left: 20px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: rgb(196, 196, 196);
        border-radius: 50%;
        transform: scale(0.7);
        opacity: 0;
        transition: .4s all;
    }
}
.dot.active{
    &::before{
        opacity: 1;
        transform: scale(1);
    }
    
}
.checked{
    display: none;
    &.active{
        display: inline;
    }
}

.btn{
    position: absolute;
    top: 36%;
    transform: translateY(-36%);
    width: 100%;
    display: flex;
}
.btn-prev,.btn-next{
    display: flex;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 200px;
    cursor: pointer;
    z-index: 1;
    &:hover svg g{
        fill: #727272;
        
    }
}
g{
    transition: .3s ease-in-out all;
}
.btn-prev{
    left: 0;
    transform: rotate(180deg);
}
.btn-next{
    right: 0;
}
@media (max-width:1200px) {
    .modal-p{padding: 150px;
    }
}
@media (max-width:800px) {
    .modal-p{padding: 100px;
    }
    .trello-item{
        width: calc(100vw/2 - 25px);
    }
}
@media (max-width:400px) {
    .modal-p{
        padding: 50px;
    }
    .trello-plus{
        display: none;
    }
    .trello-item{
        width: calc(100vw/1 - 25px);
    }
}
